{
    "CustomFilter": {
        "Migemo": {
            "Cmd": "migemogrep",
            "Args": [ "$QUERY" ],
            "BufferThreshold": 20
        }
    },
    "keymap": {
        "C-j": "peco.SelectDown",
        "C-k": "peco.SelectUp",
        "C-f": "peco.ScrollPageDown",
        "C-b": "peco.ScrollPageUp",
        "C-c": "peco.Cancel"
    },
    "Style": {
        "Basic": ["on_default", "default"],
        "SavedSelection": ["bold", "on_yellow", "white"],
        "Selected": ["underline", "on_cyan", "black"],
        "Query": ["yellow", "bold"],
        "Matched": ["red", "on_blue"]
    }
}
